{% extends "layout.html" %}
{% block content %}

			<!-- Header -->
			<header id="header">
				<h2>
                    <div class="col-6 col-12-medium">
                        <font style="color: #062c33">{{ nome }}</font>
                    </div>
                </h2>
			</header>
		    </br>

			<div class="row">
                <div class="col-12-large-b" align="left">

                    <h3>Posição : {{ posicao }}</h3>
                    <h3>Clube : {{ clube }}</h3>
                     <h3>Idade : {{ idade }}</h3>
                    <h3>Nacionalidade : {{ nacionalidade }}</h3>

                </div>
		</div>


{% endblock %}
