{% extends "layout.html" %}
{% block content %}

        <!-- main header area end -->
        <!-- header area start -->
        <div class="header-area header-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9  d-none d-lg-block">
                        <div class="horizontal-menu">
                            <nav>
                                <ul id="nav_menu">
                                    {%  for k,v in paisn.items %}
                                        {% with y=pais|get_item:k y1=nomes|get_item:k y2=liga|get_item:k %}
                                            <li>
                                                {% load staticfiles %}
                                                <a href="javascript:void(0)"><span><image src="{% static 'img/' %}{{ y|lower }}" width="20" heigth="10"> {{ v }}</span></a>
                                                <ul class="submenu">
                                                    <li><a href='tabela?idliga={{ k }}'><image src="{% static 'img/' %}{{ y2|lower }}" width="30" heigth="15"> {{ y1 }}</a></li>
                                                </ul>
                                            </li>
                                        {% endwith %}
                                    {% endfor %}
                                    <li><a href="feed"><image src="{% static 'img/icons/news.png' %}" width="30" heigth="15">Notícias</a></li>
                                    <li><a href="xslt_run" type="submit" download><image src="{% static 'img/icons/xlts.png' %}" width="30" heigth="15">xslt</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <div id="mobile_menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area end -->

        {%  for k,v in paisn.items %}
            {% with y=pais|get_item:k y1=nomes|get_item:k y2=liga|get_item:k %}
                {% load staticfiles %}
                <div class="col-lg-12 mt-5" align="center">
                    <h4><image src="{% static 'img/' %}{{ y|lower }}" width="50px" heigth="25px"> {{ v }}</h4>
                    </br>
                    <button onclick="location.href='tabela?idliga={{ k }}';" type="button" class="btn btn-rounded btn-light"><image src="{% static 'img/' %}{{ y2|lower }}" width="40" heigth="20">  {{ y1 }}</button>
                </div>
            {% endwith %}
        {% endfor %}
    <div class="col-lg-12 mt-5" align="center">
        <h4>Nova Liga</h4>
        </br>
         <button onclick="location.href='addLiga';" type="button" class="btn btn-rounded btn-light"> <i class="fa fa-plus-circle" style="font-size: 40px;"></i> </button>
        </br>
        </br>
        </br>
    </div>



  {% endblock %}
