{% extends "layout.html" %}
{% block content %}
			<!-- Header -->
			<header id="header">
				<h2>

                    {% if ganhou == 1 %}
                            <div class="col-6 col-12-medium">
                                 <font style="color: #2fd444"><a href="equipa?entity={{ casalink }}">{{ casa }}</a></font>  <font style="color: #171a1d">{{ resultado }}</font> <font style="color:red"><a href="equipa?entity={{ foralink }}">{{ fora }}</a></font>
                            </div>
                        {% endif %}

                        {% if ganhou == 2 %}
                            <div class="col-6 col-12-medium">
                                <font style="color: red"><a href="equipa?entity={{ casalink }}">{{ casa }}</a></font>  <font style="color: #171a1d">{{ resultado }}</font> <font style="color:#2fd444"><a href="equipa?entity={{ foralink }}">{{ fora }}</a></font>
                            </div>
                        {% endif %}

                        {% if ganhou == 0 %}
                            <div class="col-6 col-12-medium">
                                 <font style="color: #062c33"><a href="equipa?entity={{ casalink }}">{{ casa }}</a></font> <font style="color: #171a1d">{{ resultado }}</font> <font style="color: #062c33"><a href="equipa?entity={{ foralink }}">{{ fora }}</a></font>
                            </div>
                        {% endif %}
                </h2>
			</header>
		    </br>
			
			<div class="row">
                <div class="col-12-large-b" align="left">
                    <h3>Jornada : {{ ronda }}</h3>
                    <h3>Data : {{ quando }}</h3>
                     <h3>Estadio : {{ estadio }}</h3>
                    </br>
                     <img src="{{ image }}" width="600px">
                </div>
		</div>


{% endblock %}
